		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Foucault pendulum
                    <small>Location 3</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location3.jpg" alt="Foucault pendulum">
				<div class="well well-sm text-right">Latitude: 44.934241, Longitude: -93.169585</div>
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
                <p>Foucault's Pendulum is a freely swinging pendulum that consists of a heavy weight hung by a long wire and that swings in a constant direction which appears to change showing that the earth rotates.</p>

				<p>A Foucault pendulum, or Foucault's pendulum, named after the French physicist Léon Foucault, was conceived as an experiment to demonstrate the rotation of the Earth</p>

                <h3>Location Details</h3>
                <ul>
                    <li>Macalester College founded in 1874</li>
                    <li>DeWitt Wallace co-founded Reader's Digest with his wife Lila Wallace and went to Macalester from 1907 to 1909</li>
					<li>In its 2016 edition, U.S. News &amp; World Report ranked Macalester as tied for the 23rd best liberal arts college in the United States</li>
                </ul>
				<a href="https://www.google.com/maps/dir//Olin-Rice+Science+Center,+St+Paul,+MN+55105/@44.9367038,-93.171134,17z/data=!4m15!1m6!3m5!1s0x87f62a22bc400001:0xf78b2a9eb3351bbf!2sOlin-Rice+Science+Center!8m2!3d44.9367038!4d-93.1689453!4m7!1m0!1m5!1m1!1s0x87f62a22bc400001:0xf78b2a9eb3351bbf!2m2!1d-93.1689453!2d44.9367038" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Olin-Rice Science Center - Macalester College<br />
				166 Macalester St.<br />
				St. Paul, MN  55105
				</address>
				<p>NOTE: Enter from Grand avenue via S. Macalester St. to get the closest</p>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->