		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Minnesota Peace Officers Memorial
                    <small>Location 2</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location2.jpg" alt="Minnesota Peace Officers Memorial">
				<div class="well well-sm text-right">Latitude: 44.951583, Longitude: -93.099301</div>
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
                <p>Fred Richter designed this memorial in 1995 for Minnesota police officers. It is located by 12th St and Wabasha, between the Capitol building and (formerly) Spaghetti Junction. The Thin Blue Line was designed by LightWild</p>
				<blockquote class="blockquote">
				  <p class="mb-0">"Blessed are the peacemakers: for they shall be called the children of God."</p>
				</blockquote>
				<p>The Thin Blue Line is a phrase known world wide to Police Officers...It denotes the final barrier which stands between our citizens and chaos. The only time this line is disrupted is when an Officer has fallen or is injured in the course of executing his sworn duty. At the end of duty, when this breach appears, our youngest, and finest step up to fill in the line and help maintain order and serve our citizens.</p>

                <h3>Location Details</h3>
                <ul>
                    <li>In 1977, the beautiful granite memorial was erected in the main concourse of the Minneapolis-St. Paul International Airport.</li>
                    <li>Officers stand one hour of the vigil while a LEMA Honor Guard Officer walks the Thin Blue Line.</li>
                    <li>This guard is changed every 20 minutes with a precision rifle inspection by the Sergeant of the Guard.</li>
                    <li>The Memorial Guard involves canine officers with their partners sitting quietly in memory of the our fallen officers, and the several canines that have been lost on the job, many protecting the lives of their handlers.</li>
					<li>This event is held from 8:00 AM until 7:30 PM.</li>
                </ul>
				<a href="https://www.google.com/maps/dir/''/Minnesota+Peace+Officers+Memorial,+Saint+Paul,+MN/@44.9516987,-93.1703068,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87f62aac586b9073:0x677e9cce3ae408cb!2m2!1d-93.100267!2d44.9517201" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Peace Officers Memorial<br />
				6 12th St E<br />
				Saint Paul, MN 55101
				</address>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->