		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Bob Dylan Mural
                    <small>Location 10</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location10.jpg" alt="Bob Dylan Mural">
				<div class="well well-sm text-right">Latitude: 44.975480, Longitude: -93.269686</div>
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
				<p>Brazilian artist Eduardo Kobra and crew painted this 60 feet tall and 150 feet wide mural of Bob Dylan in 2 weeks commissioned by Goldman Sachs to help revitalize Minneapolis' cultural district.</p>
				<p>Kobra, who got his start as a graffiti artist in São Paulo, has completed more than 10 U.S. projects, though this will be his largest outside of Brazil.</p>
 <!--               <h3>Location Details</h3>
                <ul>
                    <li>Historic Cave Tours &amp; Lost Souls Tours
					<ul>
							<li>4pm Mondays Summer months only (check calendar)</li>
							<li>5pm Thursdays year 'round</li>
							<li>11am Saturday &amp; Sunday ~ year 'round</li>
							<li><span class="new">Lost Souls Tours</span> 12:30 pm the last Sunday of each month ~ year 'round </li>
					</ul>
					<li>Bus tours
					<ul>
						<li>12 noon   Saturdays ~ year 'round</li>
						<li>12 noon Sundays from May through September  ~ check calendar</li>
					</ul>
					</li>
                </ul>-->
				<a href="https://www.google.com/maps/dir//Hennepin+Ave+%26+N+5th+St,+Minneapolis,+MN+55402/@44.9796021,-93.2747629,17z/data=!4m16!1m7!3m6!1s0x52b33290685c8f2b:0x94359af847273fcd!2sHennepin+Ave+%26+N+5th+St,+Minneapolis,+MN+55402!3b1!8m2!3d44.9795983!4d-93.2725742!4m7!1m0!1m5!1m1!1s0x52b33290685c8f2b:0x94359af847273fcd!2m2!1d-93.2725742!2d44.9795983" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Bob Dylan Mural<br />
				Hennepin Ave & N 5th St<br />
				Minneapolis, MN 55402
				</address>
            </div>
        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->