		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Large Green Chair
                    <small>Location 6</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location6.jpg" alt="Large Green Chair">
				<div class="well well-sm text-right">Latitude: 44.936803, Longitude: -93.109368</div>
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
                <p>The Green Chair Project was started in 1991 by Joel Sisson and Chris Hand in South Minneapolis. With a crew of neighborhood teenagers they created 90 Adirondack lawn chairs for their neighbors.</p>
				<p>A large version of the chair–weighing 2,500 pounds–was on display at the Walker Art Center and moved to North High Bridge Park in 1995. That original chair succumbed to the elements and untreated lumber and was replaced with the current chair in 2002.</p>
				<p>At one time there were four over-sized chairs on display across the Twin Cities. Currently there is another chair by Lake Calhoun.</p>
 <!--               <h3>Location Details</h3>
                <ul>
                    <li>REAL TRAIN RIDES EVERY SATURDAY!!!</li>
                    <li>Rides last approx. 15 minutes, and are included in the admission ticket (Saturdays only).</li>
                </ul>-->
				<a href="https://www.google.com/maps/dir//High+Bridge+Park+North,+476+Smith+Ave+S,+St+Paul,+MN+55102/@44.9359965,-93.1083443,18z/data=!4m15!1m6!3m5!1s0x87f62ac7c93e5c87:0x6352c21d3e619721!2sHigh+Bridge+Park+North!8m2!3d44.9371882!4d-93.1087461!4m7!1m0!1m5!1m1!1s0x87f62ac7c93e5c87:0x6352c21d3e619721!2m2!1d-93.1087461!2d44.9371882" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Large Green Chair (Green Chair Project)<br />
				476 Smith Ave S<br />
				Saint Paul, MN  55102
				</address>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->