		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Jackson Street Roundhouse
                    <small>Location 5</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location5.jpg" alt="Jackson Street Roundhouse">
				<div class="well well-sm text-right">Latitude: 44.962405, Longitude: -93.095547</div>
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
                <p>The Jackson Street Roundhouse was built by James J. Hill in 1907 as one of the Great Northern Railway's steam engine maintenance facilities. Sitting on 9 acres less than a mile north of downtown St. Paul, the property houses our museum space, restoration shop, blacksmith shop, Rutledge Depot, and our train yard filled with historic train cars and vintage buses.</p>
				<p>Travel through history with exhibits featuring local and regional railway &amp; bus history. We have 50 historic train cars on site, and are housed in a building that represents a significant part of Twin Cities history.</p>
                <h3>Location Details</h3>
                <ul>
                    <li>REAL TRAIN RIDES EVERY SATURDAY!!!</li>
                    <li>Rides last approx. 15 minutes, and are included in the admission ticket (Saturdays only).</li>
                </ul>
				<a href="https://www.google.com/maps/dir/193+Pennsylvania+Ave+E,+St+Paul,+MN+55130/@44.9626894,-93.0976973,17z/data=!3m1!4b1!4m5!3m4!1s0x52b2d555d40aacf9:0xf0c3937d675bcf2d!8m2!3d44.9626856!4d-93.0955086" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Jackson Street Roundhouse - Minnesota Transportation Museum<br />
				193 Pennsylvania Ave. E.<br />
				Saint Paul, MN  55130
				</address>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->