		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Wabasha Street Caves
                    <small>Location 9</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location9.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
				<p>The Wabasha Street Caves is an event hall built into the sandstone caves located on the south shore of the Mississippi River in downtown Saint Paul, Minnesota.</p>
                <h3>Location Details</h3>
                <ul>
                    <li>Historic Cave Tours &amp; Lost Souls Tours
					<ul>
							<li>4pm Mondays Summer months only (check calendar)</li>
							<li>5pm Thursdays year 'round</li>
							<li>11am Saturday &amp; Sunday ~ year 'round</li>
							<li><span class="new">Lost Souls Tours</span> 12:30 pm the last Sunday of each month ~ year 'round </li>
					</ul>
					<li>Bus tours
					<ul>
						<li>12 noon   Saturdays ~ year 'round</li>
						<li>12 noon Sundays from May through September  ~ check calendar</li>
					</ul>
					</li>
                </ul>
				<a href="https://www.google.com/maps/dir//215+Wabasha+St+S,+St+Paul,+MN+55107/@44.9682201,-93.0686388,15z" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Wabasha Street Caves<br />
				215 Wabasha St S<br />
				Saint Paul, MN 55107
				</address>
            </div>
        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->