		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">U of M Shoe Tree
                    <small>Location 8</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location8.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
				<p>It's a rite of passage at the University of Minnesota.  There are many claimed reasons for why people started doing this (<i>see below</i>) but mostly it's just a tradition at the U of M.</p>
                <h3>Location Details</h3>
                <ul>
                    <li>You throw your shoes in the tree when you get your first F.</li>
                    <li>You throw your shoes in the tree when you lose your virginity.</li>
					<li>You throw your shoes in the tree when you graduate, to symbolize all the time spent walking around campus.</li>
					<li>OR You just throw your shoes in the tree</li>
                </ul>
				<a href="https://www.google.com/maps/dir//55+Malcolm+Ave+SE,+Minneapolis,+MN+55414/@44.9687875,-93.2170144,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x52b32cdb86550fcd:0xd888b02910f11d47!2m2!1d-93.212637!2d44.96878" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				U of M Shoe Tree<br />
				3811 County Rd 122<br />
				Minneapolis, MN 55454
				</address>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->