		<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Twin City Model Railroad Museum
                    <small>Location 4</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
<style>
.glyphicon{font-size: 40px; color: green; float:right;}
.glyphicon::after{clear:both;}
</style>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="i/locations/location4.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Location Description</h3>
                <p>On May 1, 1934, a group of modelers met to form the St. Paul Craftsman Club and begin building an O-gauge model railroad.</p>

				<p>Thousands of volunteer hours have faithfully reproduced Twin Cities railroad history in O Scale (1/4 inch equals 1 foot), an impressive sight and well worth your visit. Come watch the Empire Builder speed along miles of track through the Twin Cities, rumble over St. Anthony Falls on the famed Stone Arch Bridge and down the Mississippi.</p>

                <h3>Location Details</h3>
                <ul>
                    <li>Night Trains season is a special Holidays tradition at the Twin City Model Railroad Museum.</li>
                    <li>Night Trains Season comes to museum layouts in a magical way, the lights are turned down, the buildings and street lights glow warmly, setting the scene for specially lighted models of vintage passenger trains.</li>
                    <li>Night Trains Admission is $15 for Individuals</li>
					<li>Night Trains run every Saturday evening (except on Christmas Eve) from 6:00 to 9:00 pm </li>
                </ul>
				<a href="https://www.google.com/maps/dir//652+Transfer+Rd,+St+Paul,+MN+55114/@44.9610664,-93.1873962,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x52b32cae8fefcef5:0xa1139c12f0601707!2m2!1d-93.1852075!2d44.9610664" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a>				
				<address>
				Twin City Model Railroad Museum <span class="new">(New Location)</span><br />
				652 Transfer Road<br />
				St. Paul, MN  55114
				</address>

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Locations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
         /.row -->